<!DOCTYPE HTML>
<html>
  <head>
    <title>Snake</title>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../socket.io/socket.io.js"></script>
    <script src="../js/client.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>
    </div>
    <div id="game-wrapper">
      <canvas id="game-canvas"></canvas>
      <div id="join-div" class="prompt-div">
        <h2>Snekp.it</h2>
        <strong id="death-title">You died :(</strong>
        <input type="text" id="user-nick"/>
        <button id="join" type="button">Join</button>
      </div>
    </div>
  </body>
</html>
