<!DOCTYPE HTML>
<html>
  <head>
    <title>Snake</title>
    <meta charset="utf-8"></meta>
    <script src="../socket.io/socket.io.js"></script>
    <script src="../js/client.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>
    <header>
`     <h2>Snake</h2>
    </header>
    <div id="game-wrapper">
      <canvas width="1050" height="750" id="game-canvas"></canvas>
      <div id="game-info">
        <span>Score: <span id="score">0</span></span>
      </div>
    </div>
  </body>
</html>
