<!DOCTYPE HTML>
<html>
  <head>
    <title>Snake</title>
    <meta charset="utf-8"></meta>
    <script src="../socket.io/socket.io.js"></script>
    <script src="../js/client.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>
    <header>
`     <h2>Snake</h2>
    </header>
    <div id="game-wrapper">
      <canvas width="1050" height="750" id="game-canvas"></canvas>
      <div id="game-info">
        <div style="float:left;width;33%">
          <span>Your Score: <span id="score"></span></span>
        </div>
        <div style="display:inline-block;width:33%">
          <span>High Score: <span id="high-score"></span></span>
        </div>
        <div style="float:right;width:33%">
          <span>No. Players:  <span id="num-players"></span></span>
        </div>
      </div>
    </div>
  </body>
</html>
