/* style.css */
body {
  background:url('/img/back.jpg');
  margin:0px !important;
  text-align:center;
  font-family:"Open Sans";
  color:#404040;
}
#game-canvas {
  float:left;
}
#join-div {
  display:block;
  position:absolute;
  height:25%;
  width:30%;
  top:0;
  bottom:40%;
  left:0;
  right:0;
  margin:auto;
  opacity:0.8;
  background:#d3d3d3;
  border:1px solid #000000;
  border-radius:5px;
  text-align:center;
  padding:10px;
  overflow:none;
}
#user-nick {
  width:80%;
  display:inline-block !important;
  margin:10px 0px;
}
#death-title {
  display:none;
}
