/* style.css */
body {
  text-align:center;
  font-family:"Open Sans";
  color:#404040;
}
#game-wrapper {
  text-align:center;
  padding:15px 20px;
  width:1050px;
  height:750px;
  margin-left:auto;
  margin-right:auto;
}
#game-canvas {
  border:2px solid #ff0000;
}
#game-info {
  margin-top:10px;
}
#death-prompt {
  margin:20px;
  display:none;
  font-size:175%;
}
#death-text {
  color:#ff0000;
  font-weight:bold;
}
